@charset "utf-8";
body {
    background: rgb(180, 174, 191);
    background: linear-gradient(35deg, rgb(170, 150, 197) 0%, rgb(205, 194, 228) 19%, rgba(255,255,255,1) 36%, rgba(239,239,238,1) 53%, rgba(229,227,237,1) 82%, rgba(208,192,241,1) 100%);
}
/*NAV BAR*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    background-color: #d0c0f19f;
}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}
.nav-links li a {
    text-decoration: none;
    font-size: 12pt;
    background-color: #fff;
    padding: 10px 60px;
    border-radius: 40px;
    transition: transform 0.5s ease;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
}
.nav-links li a:hover {
    transform: scale(1);
    font-weight: bolder;
    color: white;
    background-color: #b298d3;
}
nav ul li {
    display: inline;
    padding: 20px;
}
/*FIN NAV BAR*/

/*BOTON FLOTANTE*/
.BotonFlotante {
    position: fixed;
    top: 400px;
    left: 0px;  
    background-color: #d0c0f1;
    padding: 10px;
    opacity: 15;
    border-radius: 40px;
    border: 1px solid rgb(132, 17, 209);
}
/*FIN BOTON FLOTANTE*/
/*INICIO ANIMACION AFTER DELAY SALUDO*/
.afterdelay {
    position: relative;
    height: 70px;
    padding: 50px;
    margin: 10px 80px 10px 80px;
}
.afterdelay div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
}
.afterdelay .div1 {
    animation: fade 12s infinite;
}
.afterdelay .div2 {
    animation: fade 12s infinite;
    animation-delay: 4s; /* Empieza después de la primera imagen */
}
.afterdelay .div3 {
    animation: fade 12s infinite;
    animation-delay: 8s; /* Empieza después de la segunda imagen */
}
@keyframes fade {
    0%, 33.33%, 100% { opacity: 0; }
    8.33%, 25% { opacity: 1; }
}
.texto-animacion {
    font-size: 15pt;
    padding: 80px 50px 20px 25px;
    margin: 92px;
    font-family: "DM Mono", monospace;
    font-weight: 400;
    color: #a76acf;
}
.estrellavioletasaludo{
    display: flex;
    justify-content: center;
    animation: giroinfinito 20s linear infinite;
}
@keyframes giroinfinito {
    from {
        transform: rotate(1deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*FIN ANIMACION AFTER DELAY SALUDO*/
/*Inicio de main SOBRE MI*/
#sobremi {
	height: 78vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#contenido-cover {
	width: 800px;
    display: flex;
	justify-content: space-between;
	align-items: center;
    flex-direction: row-reverse;
	border-radius: 40px;
	padding: 24px;
	gap: 48px;
    background-color: #764894;
}
.contenido-img {
	border-radius: 16px;
}
#cover-article {
	display: flex;
	flex-direction: column;
    padding: 40px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
    color: white;
}
#cover-article .hola{
    font-size: 40px;
}
h2 {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.aboutme,.formacion, .cursos {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.aboutme h2 {
    font-size: 20px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    color: #f8f8f8;
    text-align: center;
    background-color: #764894;
    padding: 20px 20px;
    border-radius: 40px;
    margin: 70px;
    display: flex;
    align-items: center;
}
.listasaboutme {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    color: #764894;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 20px;
    border-radius: 40px;
    margin: 50px;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgb(132, 17, 209);
    box-shadow: 0 0 5px #8246e969;
    width: 38%;
    gap: 10px;
}
.listasaboutme h3 {
    font-size: 25px;
}
.listasaboutme a {
    font-size: 20px;
    text-decoration: none;
    color: #764894
}
.listasaboutme a:hover{
    background-color:#cab2e958;
    border-radius: 40px;
}
.laquitiempo{
    font-size: 17px;
    font-weight: 500;
}
.listlaqui{
    font-size: 13px;
    padding: 10px;
    font-weight: 500;
}
.tateti {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    color: #764894;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 20px;
    border-radius: 40px;
    margin: 50px;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgb(132, 17, 209);
    box-shadow: 0 0 5px #8246e969;
    width: 38%;
    gap: 10px;
}
.tateti h3{
    font-size: 25px;
}
.tateti a {
    font-size: 20px;
    text-decoration: none;
    color: #764894
}
.tatetitiempo{
    font-size: 17px;
    font-weight: 500;
}
.listastateti {
    font-size: 13px;
    padding: 10px;
    font-weight: 500;
}
.tateti a:hover{
    background-color:#cab2e958;
    border-radius: 40px;
}
.formacion h2 {
    font-size: 20px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    color: #f8f8f8;
    text-align: center;
    background-color: #764894;
    padding: 60px ;
    border-radius: 40px;
    margin: 70px;
    display: flex;
    align-items: center;
}
.diseñoycom,.tea {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    color: #764894;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 20px;
    border-radius: 40px;
    margin: 50px;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgb(132, 17, 209);
    box-shadow: 0 0 5px #8246e969;
    width: 38%;
    gap: 10px;
}
.diseñoycom h3 {
    font-size: 25px;
}
.diseñoycom h5{
    font-size: 17px;
}
.diseñoycom p{
    font-size: 17px;
    padding: 10px;  
    font-weight: 500;
}
.tea h3 {
    font-size: 25px;
}
.tea h5{
    font-size: 17px;
}
.tea p{
    font-size: 17px;
    padding: 10px; 
    font-weight: 500; 
}
.cursos h2{
    font-size: 20px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    color: #f8f8f8;
    text-align: center;
    background-color: #764894;
    padding: 60px ;
    border-radius: 40px;
    margin: 70px;
    display: flex;
    align-items: center;
}
.desarrollo, .diseñoutn, .uxui {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    color: #764894;
    text-align: center;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 40px;
    margin: 40px;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgb(132, 17, 209);
    box-shadow: 0 0 5px #8246e969;
    width: 38%;
    gap: 10px;
}
.cursos h3{
    font-size: 25px;
}
.cursos h5{
    font-size: 17px;
}
.cursos p{
    font-size: 17px;
    font-weight: 500;
}
.habilidades {
    display: flex;
    padding-bottom: 50px;
    margin: 25px;
}
.habilidades h2 {
    font-size: 20px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    color: #f8f8f8;
    text-align: center;
    background-color: #764894;
    padding: 40px ;
    border-radius: 40px;
    margin: 40px 70px;
    display: flex;
    align-items: center;
}
.habilidadeslista {
    margin: 40px 70px;
    align-content: center;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 40px;
    border: 1px solid rgb(132, 17, 209);
    box-shadow: 0 0 5px #8246e969;
}
/*Fin de main SOBRE MI*/
/*Inicio de SLIDER INFINITO*/
.slider{
    overflow: hidden;
}
.slider .slide-track{
    display: flex;
    animation: scroll 50s linear infinite;
    width: calc(1000px * 14);
    -webkit-animation: scroll 50s linear infinite;
}
.slider .slide{
    width: 2000px;
}
.slider .slide img{
    width: 100%;
}
@keyframes scroll{
    0%{
        transform: translate(0);
        -webkit-transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-200px * 7));
        -webkit-transform: translateX(calc(-200px * 7));
    }
}
/*Fin de SLIDER INFINITO*/
/*INICIO de FORMULARIO*/
.contenedor-formulario {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    max-width: 100%;
}
.pregunta-formulario{
    max-width: 40%;
    z-index: 10;
}
.titulo-form{
    font-family:"DM Mono", monospace;
    font-size: 60px;
    font-weight: 700;
    color: #9747FF;
    padding: 8px 20px 50px 100px;
    margin-right: 20px;
    max-width: 10%;
}
.estrellavioleta{
    padding: 10px;
    margin: 60px;
    width: 20%;
    animation: giroinfinito 10s linear infinite;
}
@keyframes giroinfinito {
    from {
        transform: rotate(1deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.h3-formulario{
    font-family: "Signika Negative", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #9747FF;
    display: flex;
    justify-content: flex-start;
}
.zona-formulario{
    background-color: #d0c0f1;
    padding: 25px 50px;
    z-index: 30;
    border-radius: 50px;
    margin: 30px;
}
form{
    display: flex;
    flex-direction:column ;
    background-color: #b198d338;
    padding: 50px 60px 30px 60px;
    box-sizing: border-box;
    border-radius: 50px;
}
.items-formulario{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: space-between;
}
.columna-izq-form, .columna-der-form{
    display: flex;
    flex-direction:column ;
}
label{
    font-family: "Signika Negative", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: normal;
    color:#601095 ;
}
input{
    padding: 10px;
    font-family:"Signika Negative", sans-serif ;
    font-size: 15px;
    font-weight: 100;
    line-height: normal;
    border-radius: 15px;
    margin: 5px 0px 30px 0px;
    background-color: white;
    width: 260px;
}
.mensaje-form{
    display: flex;
    flex-direction: column;
}
textarea{
    padding: 10px 0px 50px 10px;
    margin: 5px 0px 20px 0px;
    border: none;
    font-family:"Signika Negative", sans-serif ;
    font-size: 14px;
    font-weight: 100;
}
.boton-enviar{
    display: flex;
    justify-content: center;
}
.submit{
    font-family:"Signika Negative", sans-serif  ;
    font-size: 15px;
    font-weight: 200;
    line-height: normal;
    color: white;
    background-color:#601095a3;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 25px 6px 25px;
    width: 30%;
}
.submit:hover{
    background-color: #8750d0;
}
.contactoform{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.contactoform img{
    padding: 20px;
}
/*FIN de FORMULARIO*/
/*Inicio de grilla de PROYECTOS*/
.gallery {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px;
    padding: 20px 50px;
}

.gallery img {
    height: auto;
    border-radius: 18px;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1);
}





/*Inicio de FOOTER*/
footer {
    background-color: #d0c0f19f;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 135px;
}
.footerderecho{
    display: flex;
    align-items: center;
    gap: 20px;
}
footer p {
    padding: 5px 20px;
    font-size: 10px;
}
.redessociales a:hover{
    filter: opacity(.6);
}
/*Fin de FOOTER*/











/*MEDIA QUERY FORMULARIO*/

@media screen and (max-width: 600px) {
    .contenedor-formulario {
        flex-direction: column; 
        align-items: center;
        gap: 20px;
    }
    .titulo-form {
        font-size: 30px; 
        padding: 8px 10px; 
        margin-right: 0;
        text-align: center;
        max-width: 100%;
    }
    .items-formulario {
        flex-direction: column; 
        gap: 20px;
    }
    .pregunta-formulario, .zona-formulario, input, textarea, .submit {
        width: 80%; 
    }
    .submit {
        width: auto; 
    }
    .estrellavioleta {
        flex-direction: center;
    }
}