@charset "utf-8";
*{
    margin: 0%;
    padding: 0%;
}
body {
    background: rgb(180, 174, 191);
    background: linear-gradient(35deg, rgb(170, 150, 197) 0%, rgb(205, 194, 228) 19%, rgba(255,255,255,1) 36%, rgba(239,239,238,1) 53%, rgba(229,227,237,1) 82%, rgba(208,192,241,1) 100%);
}
/*NAV BAR*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    background-color: #d0c0f19f;
}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}
.nav-links li a {
    text-decoration: none;
    font-size: 12pt;
    background-color: #fff;
    padding: 10px 60px;
    border-radius: 40px;
    transition: transform 0.5s ease;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
}
.nav-links li a:hover {
    transform: scale(1);
    font-weight: bolder;
    color: white;
    background-color: #b298d3;
}
nav ul li {
    display: inline;
    padding: 20px;
}
#menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}
/*MEDIA QUERY PARA NAV BAR*/
@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 85px;
        left: 0;
        background-color: #d0c0f19f;
    }
    .menu-icon {
        display: block;
    }
    #menu-toggle:checked + .menu-icon + nav .nav-links {
        display: flex;
    }
    .nav-links li a {
        display: block;
        padding: 15px;
        width: 100%;
    }
}
/*FIN MEDIA QUERY NAV BAR*/
/*FIN NAV BAR*/
/*BOTON FLOTANTE*/
.BotonFlotante {
    position: fixed;
    top: 400px;
    left: 0px;  
    background-color: #d0c0f1;
    padding: 10px;
    opacity: 15;
    border-radius: 40px;
    border: 1px solid rgb(132, 17, 209);
}
/*FIN BOTON FLOTANTE*/
/*INICIO ANIMACION AFTER DELAY SALUDO*/
.afterdelay {
    position: relative;
    height: 70px;
    padding: 50px 0px 50px 0px;
    margin: 10px 80px 10px 80px;
}
.afterdelay div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
}
.afterdelay .div1 {
    animation: fade 12s infinite;
}
.afterdelay .div2 {
    animation: fade 12s infinite;
    animation-delay: 4s; /* Empieza después de la primera imagen */
}
.afterdelay .div3 {
    animation: fade 12s infinite;
    animation-delay: 8s; /* Empieza después de la segunda imagen */
}
@keyframes fade {
    0%, 33.33%, 100% { opacity: 0; }
    8.33%, 25% { opacity: 1; }
}
.texto-animacion {
    font-size: 15pt;
    padding: 80px 50px 20px 25px;
    margin: 92px;
    font-family: "DM Mono", monospace;
    color: #a76acf;
}
.estrelladiv{
    display: flex;
    justify-content: center;
}
.estrellavioletasaludo{
    animation: giroinfinito 20s linear infinite;
}
@keyframes giroinfinito {
    from {
        transform: rotate(1deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*FIN ANIMACION AFTER DELAY SALUDO*/
/*MEDIA QUERY ANIMACION AFTER DELAY SALUDO*/
@media screen and (max-width: 600px) {
    .afterdelay {
        padding: 20px;
        margin: 10px 20px;
    }
    .afterdelay div img{
        width: 80%;
        margin: 10px;
        padding: 10px;
    }
    .texto-animacion {
        font-size: 12pt;
        padding: 40px 20px 10px;
        margin: 40px;
    }
    .estrellavioletasaludo {
        padding: 10px;
        animation: giroinfinito 15s linear infinite;
    }
}
/*Inicio de main SOBRE MI*/
#sobremi {
	height: 92vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#contenido-cover {
	width: 800px;
    display: flex;
	align-items: center;
    flex-direction: row-reverse;
	border-radius: 40px;
	padding: 24px;
    background-color: #764894;
}
.contenido-img {
	border-radius: 16px;
}
#cover-article {
	display: flex;
	flex-direction: column;
    padding: 40px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
    color: white;
}
#cover-article .hola{
    font-size: 40px;
}
#cover-article p{
    padding: 10px;
}
h2 {
    font-family: "Signika Negative", sans-serif;
    font-style: normal;
}
.aboutme,.formacion, .cursos, .habilidades, .idiomas {
    display: flex;
    padding-bottom: 20px;
    margin: 50px;
}
.aboutme h2 {
    font-size: 20px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    color: #f8f8f8;
    text-align: center;
    background-color: #764894;
    padding: 20px;
    border-radius: 40px;
    margin: 20px;
    display: flex;
    align-items: center;
}
.listasaboutme {
    font-family: "DM Mono", monospace;
    color: #764894;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 20px;
    border-radius: 40px;
    margin: 50px;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgb(132, 17, 209);
    box-shadow: 0 0 5px #8246e969;
    width: 38%;
    gap: 10px;
}
.listasaboutme h3 {
    font-size: 25px;
}
.listasaboutme a {
    font-size: 20px;
    text-decoration: none;
    color: #764894
}
.listasaboutme a:hover{
    background-color:#cab2e958;
    border-radius: 40px;
}
.laquitiempo{
    font-size: 17px;
    font-weight: 500;
}
.listlaqui{
    font-size: 13px;
    padding: 20px;
    font-weight: 500;
    list-style: none;
}
.listlaqui li{
    padding: 3px;
}
.tateti {
    font-family: "DM Mono", monospace;
    color: #764894;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 20px;
    border-radius: 40px;
    margin: 50px;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgb(132, 17, 209);
    box-shadow: 0 0 5px #8246e969;
    width: 38%;
    gap: 10px;
}
.tateti h3{
    font-size: 25px;
}
.tateti a {
    font-size: 20px;
    text-decoration: none;
    color: #764894
}
.tatetitiempo{
    font-size: 17px;
    font-weight: 500;
}
.listastateti {
    font-size: 13px;
    padding: 20px;
    font-weight: 500;
    list-style: none;
}
.listastateti li{
    padding: 3px;
}
.tateti a:hover{
    background-color:#cab2e958;
    border-radius: 40px;
}
.formacion h2 {
    font-size: 20px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    color: #f8f8f8;
    background-color: #764894;
    padding: 60px ;
    border-radius: 40px;
    margin: 20px;
    display: flex;
    align-items: center;
}
.diseñoycom,.tea {
    font-family: "DM Mono", monospace;
    color: #764894;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 20px;
    border-radius: 40px;
    margin: 50px;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgb(132, 17, 209);
    box-shadow: 0 0 5px #8246e969;
    width: 38%;
    gap: 10px;
}
.diseñoycom h3 {
    font-size: 25px;
}
.diseñoycom h5{
    font-size: 17px;
}
.diseñoycom p{
    font-size: 17px;
    padding: 10px;  
    font-weight: 500;
}
.tea h3 {
    font-size: 25px;
}
.tea h5{
    font-size: 17px;
}
.tea p{
    font-size: 17px;
    padding: 10px; 
    font-weight: 500; 
}
.cursos h2{
    font-size: 20px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    color: #f8f8f8;
    text-align: center;
    background-color: #764894;
    padding: 40px ;
    border-radius: 40px;
    margin: 20px;
    display: flex;
    align-items: center;
}
.desarrollo, .diseñoutn, .uxui{
    font-family: "DM Mono", monospace;
    color: #764894;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 40px;
    margin: 40px;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgb(132, 17, 209);
    box-shadow: 0 0 5px #8246e969;
    width: 38%;
    gap: 10px;
}
.cursos h3 {
    font-size: 25px;
}
.cursos h5{
    font-size: 17px;
    padding: 10px;
}
.cursos p{
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
}
.habilidades h2 {
    font-size: 20px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    color: #f8f8f8;
    text-align: center;
    background-color: #764894;
    padding: 40px ;
    border-radius: 40px;
    margin: 20px;
    display: flex;
    align-items: center;
}
.habilidadeslista {
    margin: 40px 70px;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 40px;
    border: 1px solid rgb(132, 17, 209);
    box-shadow: 0 0 5px #8246e969;
}
/*Fin de main SOBRE MI*/
/*MEDIA QUERY SOBRE MI*/
@media screen and (max-width: 600px) {
    #sobremi {
        height: auto;
        flex-direction: column;
        padding: 20px;
    }
    #contenido-cover {
        width: 100%;
        flex-direction: column;
        padding: 16px;
    }
    .contenido-img {
        width: 100%;
        border-radius: 16px;
    }
    #cover-article {
        padding: 20px;
        text-align: center;
    }
    #cover-article .hola {
        font-size: 28px;
    }
    #cover-article p {
        padding: 10px;
        font-size: 14px;
    }
    .aboutme, .formacion, .cursos, .habilidades, .idiomas {
        flex-direction: column;
        margin: 20px;
    }
    .aboutme h2, .formacion h2, .cursos h2, .habilidades h2 {
        font-size: 18px;
        padding: 20px;
    }
    .listasaboutme, .tateti, .diseñoycom, .tea, .desarrollo, .diseñoutn, .uxui {
        width: 98%;
        margin: 20px 0;
        padding: 16px;
    }
    .listasaboutme h3, .tateti h3, .diseñoycom h3, .tea h3, .cursos h3 {
        font-size: 22px;
    }
    .listasaboutme a, .tateti a, .diseñoycom p, .tea p, .cursos p {
        font-size: 16px;
    }
    .habilidadeslista {
        margin: 20px 10px;
        padding: 20px;
    }
}
/*Inicio de SLIDER INFINITO*/
.slider{
    overflow: hidden;
}
.slider .slide-track{
    display: flex;
    animation: scroll 50s linear infinite;
    width: calc(1000px * 14);
    -webkit-animation: scroll 50s linear infinite;
}
.slider .slide{
    width: 2000px;
}
.slider .slide img{
    width: 100%;
}
@keyframes scroll{
    0%{
        transform: translate(0);
        -webkit-transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-200px * 7));
        -webkit-transform: translateX(calc(-200px * 7));
    }
}
/*Fin de SLIDER INFINITO*/
/*INICIO de FORMULARIO*/
.contenedor-formulario {
    display: flex;
    column-gap: 50px;
}
.pregunta-formulario{
    max-width: 40%;
}
.titulo-form{
    font-family:"DM Mono", monospace;
    font-size: 60px;
    color: #9747FF;
    padding: 40px 50px 50px 100px;

}
.estrellavioleta{
    padding: 10px;
    margin: 70px;
    animation: giroinfinito 15s linear infinite;
}
@keyframes giroinfinito {
    from {
        transform: rotate(1deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.h3-formulario{
    font-family: "Signika Negative", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #9747FF;
    padding: 20px;
}
.zona-formulario{
    background-color: #d0c0f1;
    padding: 25px 50px;
    z-index: 30;
    border-radius: 50px;
    margin: 30px;
}
form{
    display: flex;
    flex-direction:column ;
    background-color: #b098d334;
    padding: 50px 60px 30px 60px;
    box-sizing: border-box;
    border-radius: 50px;
}
.items-formulario{
    display: flex;
    column-gap: 50px;
}
.columna-izq-form, .columna-der-form{
    display: flex;
    flex-direction:column ;
}
label{
    font-family: "Signika Negative", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: normal;
    color:#601095 ;
}
input{
    padding: 10px;
    font-family:"Signika Negative", sans-serif ;
    font-size: 15px;
    font-weight: 100;
    line-height: normal;
    border-radius: 15px;
    margin: 5px 0px 30px 0px;
    background-color: white;
    width: 260px;
}
.mensaje-form{
    display: flex;
    flex-direction: column;
}
textarea{
    padding: 10px 0px 50px 10px;
    margin: 5px 0px 20px 0px;
    border: none;
    font-family:"Signika Negative", sans-serif ;
    font-size: 14px;
    font-weight: 100;
}
.boton-enviar{
    display: flex;
    justify-content: center;
}
.submit{
    color: white;
    background-color:#601095a3;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 25px 6px 25px;
}
.submit:hover{
    background-color: #8750d0;
}
.contactoform{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.contactoform img{
    padding: 20px;
}
/*FIN de FORMULARIO*/
/*MEDIA QUERY FORMULARIO*/
@media screen and (max-width: 600px) {
    .contenedor-formulario {
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
    }
    .pregunta-formulario {
        max-width: 100%;
    }
    .titulo-form {
        font-size: 36px;
        padding: 20px;
        text-align: center;
    }
    .h3-formulario {
        font-size: 24px;
        padding: 10px;
        text-align: center;
    }
    .zona-formulario {
        padding: 20px;
        margin: 10px;
        border-radius: 30px;
    }
    form {
        padding: 20px;
        border-radius: 30px;
    }
    .items-formulario {
        flex-direction: column;
        gap: 10px;
    }
    .columna-izq-form, .columna-der-form {
        width: 100%;
    }
    input {
        width: 100%;
        font-size: 14px;
    }
    textarea {
        font-size: 14px;
    }
    .boton-enviar .submit {
        padding: 10px 20px;
        font-size: 16px;
    }
    .contactoform img {
        padding: 30px;
        width: 30px;
    }
}
/*Inicio de grilla de PROYECTOS*/
.gallery {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px;
    padding: 20px 50px;
}
.gallery img {
    height: auto;
    border-radius: 18px;
    transition: transform 0.3s ease-in-out;
}
.gallery img:hover {
    transform: scale(1.1);
}
/*Inicio de FOOTER*/
footer {
    background-color: #d0c0f19f;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px ;
}
.footerderecho{
    display: flex;
    align-items: center;
    gap: 20px;
}
footer p {
    padding: 5px 10px;
    font-size: 15px;
}
.redessociales a:hover{
    filter: opacity(.6);
}
/*Fin de FOOTER*/
/*MEDIA QUERY FOOTER*/
@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px 20px;
    }
    .footerderecho {
        flex-direction: column;
        gap: 10px;
    }
    footer p {
        font-size: 14px;
        padding: 5px 0;
        margin: 10px;
    }
    .redessociales a {
        margin: 0 15px;
    }
}
/*SPOTIFY*/
.spotify{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 50px;
}
.spotify h2{
    font-family:"DM Mono", monospace;
    font-size: 40px;
    color: #9747FF;
    padding: 40px;
}
/*GALERIA DE IMAGENES*/
.proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.proyectos h4{
    font-family:"DM Mono", monospace;
    font-size: 40px;
    color: #9747FF;
    padding: 40px;
}
.proyectos p{
    font-family:"DM Mono", monospace;
    font-size: 20px;
    color: #9747ff95;
    padding: 10px;
}
.galeria {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.g-proyectos img, .g-proyectos-picoteo img{
    border-radius: 40px;
    margin: 20px 12px;
    border: 1px solid rgb(132, 17, 209);
    box-shadow: 0 0 5px #8246e969;
}
.g-proyectos img:hover {
    transform: scale(1.1);
}
.g-proyectos-picoteo img:hover{
    transform: scale(1.1);
}
/* galeria */
#galeria, #galeriapicoteo{
    display: none;
    width: 100%;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #8850d051;
}
/*galeria oculta*/
#galeria-oculta, #galeria-ocultapicoteo {
    width: 60%;
    max-width: 1200px;
    overflow: hidden;
    z-index: 20;
}
.fraccion-galeria, .fraccion-galeria-picoteo{
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    justify-content: space-around;
}
.fraccion-galeria img, .fraccion-galeria-picoteo img {
    transition: filter 0.4s ease, transform 0.5s ease;
    cursor: pointer;
}
.fraccion-galeria a:first-child {
    margin-right: 420px;/*margen de flecha*/
}
.fraccion-galeria a:last-child {
    margin-left: 420px;/*margen de flecha*/
}
.fraccion-galeria-picoteo a:first-child {
    margin-right: 420px;/*margen de flecha*/
}
.fraccion-galeria-picoteo a:last-child {
    margin-left: 420px;/*margen de flecha*/
}
.close {
    position: absolute;
    top: 10px;
    right: 2%;
}
.primer-ultima-flecha {
    visibility: hidden;
}
/* imágenes galeria oculta */
#foto-1 {
    background-image: url("img/mockupbarroalfareria_atamaño.png");/*cambiarle la medida*/
}
#foto-2 {
    background-image: url("img/mockuptaller_atamaño.png");
}
#foto-3 {
    background-image: url("img/mockuptotebag_atamaño.png");
}
#foto-4 {
    background-image: url("img/mockupafiche_atamaño.png");
}
#foto-5 {
    background-image: url("img/postalmockup2_atamaño.png"); 
}
#foto-6 {
    background-image: url("img/mockupbuzo_atamaño.png");
}

